.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
    height: 35px;
    
}
.navbar p{
    font-size: 25px;
    justify-content: flex-start;
    display: flex;
    margin-right: 1150px;
}
.nav-logo{
width: 60px;
}
.nav-profile{
width: 60px;
border-radius: 50%;
}